#menu-principal li a:hover {
    color: #D4AF37;
    background-color: #2a0a0a;
    letter-spacing: 2px; 
}

#form-contato input:focus,
#form-contato textarea:focus {
    border-color: #D4AF37;
    outline: none;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
    background-color: #1a1a1a;
}

